.imageContentWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainImage {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5%;
  width: 320px;
  height: 250px;
}

.mainImageWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.previewImage {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  object-fit: cove1r;
  margin-right: 10px;
  cursor: pointer;
}

.buttonIcon {
  cursor: pointer;
  margin-top: 35%;
}
